<div class="div-my-background text-my-default text-center">
    <div class="text-my-container">
        <div class="container row text-justify" style="padding-bottom:5%">
            <div class="col-sm-3"></div>
                <div class="col-sm-4">
                    <p>Contact us:</p>
                    <p>&#9742; 0999/999 999</p>
                    <p>&#8962; 12 Sesame Street, Fictional City, Fake Country</p>
                    <p>&#9993; fictionalshop@gmail.com</p>
                    <p>&#9202; 9:00-18:00 Mo-Sat</p>
                  </div>
                  <div class="col-sm-4">
            <p class="text-justify" style="padding-left:6%;">
             Send us a message:
           </p>
            <form #sendmail = "ngForm" style="padding-left:10%;" (ngSubmit) = "sendButtonClicked(sendmail.value);sendmail.reset();">
                <input type="text" class="form-control" style="width:100%;font-family:candara;font-size:large;border-color:lightgray" placeholder="Enter your email address here" name="address" ngModel>
                <br/>
                <textarea style="width:100%;height:30%;font-family:candara;font-size:large;border-color:lightgray"  class="form-control" placeholder="Write your message here: " name="body" ngModel></textarea>
                <br/>
              <button type="submit" class="btn btn-primary" style="font-family:candara;border-style:none" value="submit">Send</button>
              <div [ngSwitch]="emailSuccessfullySent" style="padding-left:30%;padding-right:20%">
                <ngb-alert type="success" (closed)="closeAlert()" *ngSwitchCase="true" role="alert">Message sent successfully!</ngb-alert>
                
                <ngb-alert type="danger" (closed)="closeAlert()" *ngSwitchCase="false" role="alert">There was an error sending your message.</ngb-alert>
                <div *ngSwitchDefault></div>
              </div>
              
           </form>
           </div>
          </div>
    </div>
</div>