<div class="div-my-background text-my-default text-center">
    <div class="text-my-container">
        <h5 class="text-center display-4" style="padding-bottom:1%;">
            My cart
        </h5>
        <div class="container" id="gallery">
            <div *ngIf="productList.length == 0">
                Your cart is empty.
            </div>
            

        <div *ngIf="productList.length > 0">
            <div *ngFor="let product of productList;">
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-1">
                        <img class="w-100" src={{product.picPath}} style="width:10px;" data-target="#carouselExample" data-slide-to="0">
                    </div>
                    <div class="col-sm-2">
                        {{product.name}}
                        <br/>
                        Price: $ {{product.price}}
                        <br/>
                    </div>
                    <div class="col-sm-4">
                    
                    <button type="button" class="btn btn-primary" (click)="removeFromCart(product);">Remove from cart</button>
                    </div> 
            </div>
            <div class="row"><br/></div>
            </div>
            <div>Total: ${{total}}</div>
            <div>
                <a *ngIf="!loggedIn" style="font-size: large;" data-toggle="modal" data-target="#exampleModal">
                    <a href="checkout"><button type="button" class="btn btn-primary" (click)="checkout()">Proceed to checkout</button> </a>
                  </a>
                  
                <a *ngIf="loggedIn" href="checkout"><button type="button" class="btn btn-primary" (click)="checkout()">Proceed to checkout</button> </a>
            </div>
          </div>
          </div>
        </div>
    </div>



    <div *ngIf="!loggedIn" class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Login</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form #login = "ngForm" style="padding-left:10%;" (ngSubmit) = "loginButtonClicked(login.value);login.reset();">
                <input type="text" class="form-control" style="width:60%;font-family:candara;font-size:large;border-color:lightgray" placeholder="E-mail" name="email" ngModel>
                <br/>
                <input type="password" class="form-control" style="width:60%;font-family:candara;font-size:large;border-color:lightgray"  class="form-control" placeholder="Password" name="password" ngModel>
                <br/>
              <button type="submit" class="btn btn-primary" style="font-family:candara;border-style:none" value="submit">Login</button>
           </form>
           <div *ngIf="loggedIn==false" style="padding-left:20%;padding-right:20%">        
            <ngb-alert type="danger" role="alert">Wrong e-mail and/or password!</ngb-alert>
          </div>
            </div>
            <div class="modal-footer">
              Don't have an account? <a href="signup">Sign up!</a>
            </div>
          </div>
        </div>
      </div>
    