<div class="div-my-background text-my-default text-center">
    <div class="text-my-container">
        <p style="padding-left: 10%;padding-right: 10%;">This is a page that only the admin of the site/the manager of the shop can see. It can be used for adding/updating/
            deleting products from the catalog, in a manner similar to the way that adding a user account and updating a user account were implemented.
            Orders processing could also be done here, by retrieving the orders with 'PENDING' status from the database and
            updating them one-by-one.
        </p>
    </div>
</div>
