<div class="div-my-background text-my-default text-center">
    <div class="text-my-container">
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-3">
                <img src="/assets/images/n1.png" style="width:50%">
                <figcaption><a>Necklaces</a></figcaption>
            </div>
            <div class="col-sm-2">
                <img src="/assets/images/b1.png" style="height:30%">
                <figcaption><a>Bracelets</a></figcaption>
            </div>
            <div class="col-sm-3">
                <img src="/assets/images/r.jpg" style="width:50%">
                <figcaption><a>Rings</a></figcaption> 
            </div>
        </div>   
    
    </div>
</div>