<div class="div-my-background text-my-default text-center">
    <div class="text-my-container">
        <h5 class="text-left display-4" style="padding-left:26%;">
            My account info
        </h5>
        <br/>
        <div [ngSwitch]="updatedSuccessfully" style="padding-left:20%;padding-right:20%">
            <!-- the same view can be shown in more than one case -->
            <ngb-alert type="success" (closed)="closeAlert()" *ngSwitchCase="true" role="alert">Account successfully updated!!</ngb-alert>
            
            <ngb-alert type="danger" (closed)="closeAlert()" *ngSwitchCase="false" role="alert">Error!</ngb-alert>
            <!--default case when there are no matches -->
            <div *ngSwitchDefault></div>
          </div>
           <form #info = "ngForm" style="margin-left: 26%;" (ngSubmit) = "updateButtonClicked(info.value);info.reset();">
               <input type="text" class="form-control" style="width:50%;font-family:candara;font-size:large;border-color:lightgray" placeholder="{{getUser().name}}" name="name" ngModel>
               <br/>
               <input type="text" class="form-control" style="width:50%;font-family:candara;font-size:large;border-color:lightgray" placeholder="{{getUser().surname}}" name="surname" ngModel>
               <br/>
               <input type="tel" class="form-control" style="width:50%;font-family:candara;font-size:large;border-color:lightgray" placeholder="{{getUser().telephoneNo}}" name="telephoneNo" ngModel>
               <br/>
               <input type="text" class="form-control" style="width:50%;font-family:candara;font-size:large;border-color:lightgray" placeholder="{{getUser().address}}" name="address" ngModel>
               <br/>
               <input type="email" class="form-control" style="width:50%;font-family:candara;font-size:large;border-color:lightgray" placeholder="{{getUser().email}}" name="email" ngModel>
               <br/>
               
               <input type="password" class="form-control" style="width:50%;font-family:candara;font-size:large;border-color:lightgray" placeholder="Type new password here..." name="password" ngModel>
               <br/>
               <div class="buttonHolder">
                    <button type="submit" class="btn btn-primary" style="font-family:candara;border-style:none" value="submit">Update account info</button>
            </div>
             
          </form>
          <br>
          <h5 class="text-left display-4" style="padding-left:26%;">
            My orders
            </h5>
          <table style="width:60%; margin-left:26%; border: 1px solid white;">
            <tr>
              <th>Order ID</th>
              <th>Order date & time</th>
              <th>Total</th>
              <th>Order status</th>
            </tr>
            <tr *ngFor = "let order of getOrders();">
              <td>{{order.id}}</td>
              <td>{{order.dateTime}}</td>
              <td>{{order.total}}</td>
              <td>{{order.status}}</td>
            </tr>
          </table>
    </div>
    
</div>
